#homeyoutube{
    height : 2100px;
    width: 100%;
    border: 1px solid white;
}
.youtubebody{
    height : 2100px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.homeleft :hover{
    background-color: rgb(148, 149, 152);
    cursor: pointer;
}
.homeleft{
    height: 620px;
    width: 18%;
    /* border: 1px solid black; */
    position: sticky;
    top: 11.5%;
    text-align: left;
    /* left: 1%; */
}
.homeleft > span{
    font-size: 10px;
    margin-left: 10px;
    /* max-width: 100%; */
    /* display: block; */
    max-height: 1.4rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.4rem; */
    margin-top:10px;
    
    
}
.homeleft > i{
    /* margin-top: 35px; */
    margin-bottom: 30px;
    
    
}
#borderleftbottom{
    border-bottom: 1px solid grey;
    width: 90%;
}
.exploreleft{
    margin-top: 10px;
    font-size: 18px;

}
.homeright{
    height: 2100px;
    width: 93%;
    /* border: 1px solid black; */
}
.homebodytop{
    height: 50px;
    display: flex;
    width: 100%;
    /* left: 1%; */
    /* border: 1px solid black; */
    position: sticky;
   
 
    top:9.3%;
    background-color: white;
}
.homebodytop > button{
    font-weight: 600;
    margin-right: 11px;
    height: fit-content;
    width: fit-content;
    padding: 7px 11px;
    border-radius: 5px;
    border: none;
    /* align-self: center; */
}
.youtube-main{
    /* border: 1px solid blue; */
    height: 1420px;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.youtube-single-div{
    /* border: 1px solid black; */
    height: 320px;
    width: 31.5%;
    margin-top: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Youtube-thumbnail{
    /* border: 1px solid black; */
    height: 66%;
    width: 99.5%;
    border-radius: 10px;
}
.Youtube-thumbnail > img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.single-down-div{
    /* border: 1px solid black; */
    height: 33%;
    width: 100%;
    display: flex;
}
.single-down-img{
    width: 35px;
    margin-top: 10px;
    height: 35px;
    border-radius: 50%;
    /* border: 1px solid grey; */
}
.single-down-img > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.single-div-content{
    height: 100%;
    width: 90%;
    margin-left: 10px;
    text-align: left;
    /* border: 1px solid red; */
}
.single-div-content > p{    
    margin-top: 5px;
    font-weight: 500;
    /* border: 1px solid red; */
    width: 90%;
    margin-bottom: 0%;
}
.single-div-owner{
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.single-div-views{
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.youtube-shorts{
    height: 70px;
    width: 120px;
    /* border:1px solid black; */
}
.youtube-shorts > img{
    width: 100%;
    height: 100%
}
.youtube-main2{
    height: 460px;
    width: 98%;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.shorts-single-div{
    height: 380px;
    width: 19%;
    /* border: 1px solid grey; */
    border-radius: 10px;
}
.shorts-single-div > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.shorts-single-div > p{
    margin-top: 5px;
    font-weight: 500;
    /* border: 1px solid red; */
    width: 90%;
    /* height: 45px; */
    margin-bottom: 0%;
}
.shorts-single-div > span{
    font-size: 14px;
    color: grey;
    font-weight: 400;
}