/* *{
    margin: 0;
    padding: 0;
} */
#loginscreenyoutube{
    border: 1px solid red;
    width: 100%;
    height:720px;
}
#youtubeloginmain{
    margin: auto;
    width: 30%;
    height: 500px;
    border: 1px solid grey;
   margin-top: 120px;
   border-radius: 10px;
   /* box-shadow: 0px 0px 1px 1px; */
}
.youtubelogologin{
    /* border: 1px solid red; */
    margin-top: 50px;
    height: 30px;
    margin-bottom: 1px;
}
.youtubelogologin :nth-child(1){
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    margin: auto;

}
.signindiv{
    /* border: 1px solid red; */
    height: fit-content;
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    color: rgb(32,33,36);
    padding-bottom: 0;
    padding-top: 16px;
    font-family: Google Sans,Noto Sans Myanmar UI,arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333

}
.useyourdiv{
    /* border: 1px solid red; */
    height: fit-content;
    margin: auto;
    width: 100%;
    margin-bottom:30px ;
    color: rgb(32,33,36);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}
.logininputdiv{
    /* border: 1px solid black; */
    width: 80%;
    height: 52px;
    margin: auto;
    /* margin-bottom: 30px; */
    position: relative;
}

.logininputdiv :nth-child(1){
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid black;
    outline: none;
    /* border: none; */
    
    background: none;
    /* color: white; */
}
.loginlabel{
    position: absolute;
    top: 0.9rem;
    left: 1.4rem;
    cursor: text;
    transition: top 100ms ease-in,left 100ms ease-in, font-size 100ms ease-in;
    color: rgb(118, 118, 118);
    font-size: 17px;
}
.logininputfocus:focus ~ .loginlabel,
.logininputfocus:not(:placeholder-shown).logininputfocus:not(:focus)~.loginuplabel
{
    top: -0.6rem;
    left: 0.9rem;
    font-size: 13px;
    background: white;
    color: blue;
}

.logininputfocus:focus{
    border: 2px solid blue;
    
}
.forgetemail{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: left;
    /* color: blue; */
    font-size: 14px;
    margin-bottom: 30px ;
    border-radius: 4px;
    color: rgb(26,115,232);
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    margin-top: 10px;
}
.notyourtext{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    
}
.lastdivlogin{
    /* border: 1px solid red; */
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.lastdivlogin >div {
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    
}
.nextbuttton{
    width: 100%;
    height: 100%;
    background-color:  rgb(26,115,232);;
    color: white;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    border: none;
    
}

.createp{
    align-self: center;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    color:  rgb(26,115,232);
    /* text-decoration: underline; */
}
.lastenglishdiv{
    /* border: 1px solid red; */
    margin: auto;
    width: 29%;
    height: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
#helpprivacyterm{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 30%;
    font-size: 12px;
    height: fit-content;
    align-self: center;

}